 
 .btn{
     background-color: rgb(100, 232, 237);
     border-radius: 5%;
 }
#inner-text{
    background-color: rgb(229, 240, 228)
}
#posts-list-container{
    color: rgb(242, 248, 241);
}
body{
    background-color: rgba(10, 10, 10, 0.925);
}
.btn:hover{
    background-color: white;
}