.btn {
  background-color: #64e8ed;
  border-radius: 5%; }

#inner-text {
  background-color: #e5f0e4; }

#posts-list-container {
  color: #f2f8f1; }

body {
  background-color: rgba(10, 10, 10, 0.925); }

.btn:hover {
  background-color: white; }

#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    width: 30%;
    padding: 10px; }

.vertical {
  border-left: 4px solid #eef5fa;
  height: 100%;
  position: absolute;
  left: 65%; }
